{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Country index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nationality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>{{ country.nationality }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('country_show', {'id': country.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('country_edit', {'id': country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('country_new') }}">Create new</a>
{% endblock %}
