{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    {{ form_start(filters) }}
    <div>
        {# Affiche la partie de navigation entre les pages #}
        {{ knp_pagination_render(artists) }}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    {{ knp_pagination_sortable(
                        artists,
                        'Nom',
                        'artist.name'
                    ) }}
                    {{ form_widget(filters.name) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(
                        artists,
                        'Année de début',
                        'artist.beginningYear'
                    ) }}
                    {{ form_widget(filters.beginningYear) }}
                </th>
                <th>
                    {{ knp_pagination_sortable(
                        artists,
                        'Pays',
                        'country.name'
                    ) }}
                    {{ form_widget(filters.country) }}
                </th>
                <th>
                    actions
                    <div>
                        <button type="submit" class="filter-action">
                            Filtrer
                        </button>
                        <a href="{{ path('artist_index') }}" class="filter-action">
                            Reset
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>{{ artist.beginningYear }}</td>
                <td>{{ artist.country }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('artist_show', {'id': artist.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('artist_edit', {'id': artist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_end(filters) }}

    <div>
        {# Affiche la partie de navigation entre les pages #}
        {{ knp_pagination_render(artists) }}
    </div>

    <a class="btn btn-primary" href="{{ path('artist_new') }}">Create new</a>
{% endblock %}
