{% extends 'base.html.twig' %}

{% block title %}{{ 'artist.title'|trans({'%artist%': artist.name }) }}{% endblock %}

{% block body %}
    <h1>{{ 'artist.title'|trans({'%artist%': artist.name }) }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>{{ 'artist.name'|trans }}</th>
                <td>{{ artist.name }}</td>
            </tr>
            <tr>
                <th>{{ 'artist.beginning_year'|trans }}</th>
                <td>{{ artist.beginningYear }}</td>
            </tr>
            <tr>
                <th>{{ 'artist.country'|trans }}</th>
                <td>{{ artist.country.nationality }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artist_index') }}">back to list</a>

    <a href="{{ path('artist_edit', {'id': artist.id}) }}">edit</a>

    {{ include('artist/_delete_form.html.twig') }}
{% endblock %}
